<div>
  <form class="container" (ngSubmit)="onSubmit(f)" #f="ngForm">


    <label className="_label" for="">Name</label>
    <input className="_input" type="text" class="form-control" ngModel name="name"><br>
    <label className="_label" for="">Image</label>
    <input (change)="fileEvent($event)" type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple"
      accept="image/*"><br>

    <label className="_label" for="">Price</label>
    <input className="_input" type="text" class="form-control" ngModel name="price"><br>

    <label className="_label" for="">Rating</label>
    <input className="_input" type="text" class="form-control" ngModel name="rating"><br>

    <label className="_label" for="">Feedback</label>
    <input className="_input" type="text" class="form-control" ngModel name="feedback"><br>

    <label className="_label" for="">Category</label>
    <input className="_input" type="text" class="form-control" ngModel name="category"><br><br>
    <label className="_label" for="">type</label>
    <input className="_input" type="text" class="form-control" ngModel name="category"><br><br>


    <button type="submit" id="edit" value="Send" class="btn btn-primary"><a>save</a></button>


  </form>

</div>