<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          Kusa is a StartUp for consulting companies thanks to its Experts and Digital Services it offers
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5">Offer:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Consulting</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Web development</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">App development</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="ml-auto" src="assets/images/hero.png" alt="Hero" />
      </div>
    </div>
  </div>
</div>

<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">Why work with us ?</h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2">Expertise</h3>
        <p>We have a team of experts that </p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2">Lean</h3>
        <p>Less waste time & cost but get more value.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2">Professionals</h3>
        <p>When working with us you are in safe hands. </p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2">Tangible</h3>
        <p>Each offer describes a specific result.</p>
      </div>
    </div>
  </div>
</div>

<div class="ll-about mt-28 mb-28">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="ll-about__img relative block">
          <img src="assets/images/about.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">play_circle_filled
          </mat-icon>
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 ll-about__text">
        <h2 class="font-medium">The world's best advice from real practitioners</h2>
        <div class="mt-12">
          <h5 class="font-medium text-black">Partly real practitioners as consultants</h5>
          <p class="mt-1">With us, practitioners advise who were previously advised and who are now passing on this
            knowledge.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Not salespeople, but solution providers</h5>
          <p class="mt-1">With us you advise consultants who also implement the solutions, not just sell them.</p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Without a journey, we “call” in</h5>
          <p class="mt-1">With us, there is no need to travel to the advice center and thus the part that no consultant
            likes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ll-home-products></ll-home-products>

<div class="ll-process-area bg-black mt-16" style="background-color:#eec9c6;">
  <div class="container">
    <h2 id="hela" class="ll-process__title text-center mb-8 text-white">How it works</h2>
    <div class="ll-processes grid grid-cols-12 gap-8">
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2 text-white font-bold">Choose</h3>
        <p class="text-white">You choose the service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2 text-white font-bold">Book</h3>
        <p class="text-white">You book the micro-service that you need right now.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2 text-white font-bold">Contact</h3>
        <p class="text-white">Contact us for more information.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2 text-white font-bold">Execution</h3>
        <p class="text-white">Agreeing on a plan to start excution.</p>
      </div>
    </div>
  </div>
</div>